*{
margin-top: 5px;
}
#nav{
    padding: 50px;
 }
h1{
    margin: auto;
    background: #eccecc;
    min-height: 100px;
    padding-top: 25px;
}
h2{
    background: #e6dec7;
    padding-left: 50px;
}
#header{
    background: #eccecc;
    
}
#footer{
    background: #eccecc;
    padding-bottom: 50px;
    min-height: 100px;
}
#image{
    border-radius: 10%;
    width:auto;
    height:auto;
}
#cars .row{
    padding-left: 40px;
    margin: auto;
}
#contactContent{
    margin: auto;
}
#mapouter{
    margin:auto;
}
#enquiries{
    padding-bottom: 50px;
}
