*{
margin-top: 5px;
     }
h1{
    margin: auto;
    background: #eccecc;
    min-height: 100px;
    padding-top: 25px;
}
h2{
    background: #e6dec7;
    padding-left: 50px;
}
#header{
    background: #eccecc;
}
#footer{
    background: #eccecc;
}
#image{
    border-radius: 10%;
    width:auto;
    height:auto;
}
#cars .row{
    padding-left: 50px;
}
